doctype html
html
    head
     title Shrey's Dance Academy
     block scripts
     block style 
    body
    nav#navbar 
            ul  
                div#logo 
                    img(src="/static/logo.jpg.webp")
                    //| HDA  
                    li #[a(href = "/") Home] 
                    li #[a(href = "/") About Us] 
                    li #[a(href = "/") Contact Us] 
                    li #[a(href = "/") Services] 
    block content 
    footer#footer 
        | Copyright &copy; 2024 Shrey's Dance Academy 